<h2 class="title">Products</h2>

<div class="products">
  <div *ngFor="let product of products">
    <mat-accordion>
      <mat-expansion-panel
        hideToggle
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          collapsedHeight="150px"
          expandedHeight="150px"
        >
          <mat-panel-title>
            <h3>
              <a
                [title]="product.name + ' details'"
                [routerLink]="['/products', product.id]"
                >{{ product.name }}</a
              >
            </h3>
          </mat-panel-title>
          <mat-panel-description>
            <p *ngIf="product.description">{{ product.description }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button type="button" (click)="share()">Share</button>
        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
